@if (!isHomePage()) {
  <nav hlmNavigationMenu class="p-5">
    <ul hlmNavigationMenuList class="flex-wrap">
      <li hlmNavigationMenuItem>
        <a hlmNavigationMenuLink routerLink="/room">Cata</a>
      </li>

      @if (activeCata()?.ranking_enabled) {
        <li hlmNavigationMenuItem>
          <a hlmNavigationMenuLink routerLink="/ranking">Ranking</a>
        </li>
      }

      @if (activeAssistant()?.is_host) {
        <li hlmNavigationMenuItem>
          <a hlmNavigationMenuLink routerLink="/admin">Admin</a>
        </li>
      }
    </ul>
  </nav>
}

<router-outlet />
<hlm-toaster [richColors]="true" />
<app-global-loading />
