<div class="container">
  <h3 class="{{ hlmH3 }}">Panel admin</h3>
  <div class="commands">
    <ul>
      <li class="my-4">
        <hlm-item variant="outline" size="xs">
          <hlm-item-content>
            <hlm-item-title>Randomizar vino</hlm-item-title>
            <p hlmItemDescription>Setear al azar un vino como el siguiente.</p>
          </hlm-item-content>
          <hlm-item-actions>
            @if (randomizing()) {
              <hlm-spinner data-icon="inline-start" />
            }
            <button hlmBtn variant="outline" size="xs" (click)="randomizeWine()">Randomizar</button>
          </hlm-item-actions>
        </hlm-item>
      </li>

      <li class="my-4">
        <hlm-item variant="outline" size="xs">
          <hlm-item-content>
            <hlm-item-title>Mostrar vino actual</hlm-item-title>
            <p hlmItemDescription>Mostrar datos del vino en votacion.</p>
          </hlm-item-content>
          <hlm-item-actions>
            <button hlmBtn variant="outline" size="xs" (click)="enableViewInfoActiveWine()">
              Mostrar
            </button>
          </hlm-item-actions>
        </hlm-item>
      </li>

      <li class="my-4">
        <hlm-item variant="outline" size="xs">
          <hlm-item-content>
            <hlm-item-title>Activar o desactivar ranking</hlm-item-title>
            <p hlmItemDescription>Para la cata actual.</p>
          </hlm-item-content>
          <hlm-item-actions>
            <hlm-switch
              class="mr-2"
              [checked]="activeCata()?.ranking_enabled"
              (click)="toggleEnableRanking()"
            />
          </hlm-item-actions>
        </hlm-item>
      </li>
    </ul>
  </div>

  <div class="statuses">
    <h4 class="{{ hlmH4 }}">Canales</h4>

    <hlm-item variant="outline" class="my-4" size="xs">
      <hlm-item-media>
        @if (cataChannelStatus() === 'SUBSCRIBED') {
          <ng-icon name="lucideCircleCheck" class="text-[length:--spacing(5)] text-green-600" />
        } @else {
          <ng-icon name="lucideCircleX" class="text-[length:--spacing(5)] text-red-600" />
        }
      </hlm-item-media>
      <hlm-item-content>
        <hlm-item-title>Catas: {{ cataChannelStatus() }} </hlm-item-title>
      </hlm-item-content>
    </hlm-item>

    <hlm-item variant="outline" class="my-4" size="xs">
      <hlm-item-media>
        @if (wineChannelStatus() === 'SUBSCRIBED') {
          <ng-icon name="lucideCircleCheck" class="text-[length:--spacing(5)] text-green-600" />
        } @else {
          <ng-icon name="lucideCircleX" class="text-[length:--spacing(5)] text-red-600" />
        }
      </hlm-item-media>
      <hlm-item-content>
        <hlm-item-title>Vinos: {{ wineChannelStatus() }} </hlm-item-title>
      </hlm-item-content>
    </hlm-item>
  </div>
</div>
